*{
    font-family: 'Ubuntu Mono', 'Source Code Pro', monospace;
}
body {
    background-color: rgb(19, 19, 27);
    color: white;
    width: 100%;
    margin: 0;
}
#nav{
    background-color: rgb(0, 155, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 10vh;
    
}
#nav_buttons{
    margin-right: 50px;
}
#home,#about,#projects,#contact,#name_box{
    background-color:rgb(19, 19, 27); 
    color: white;
    padding: 10px;
    border:solid 2px white;
    border-radius: 15px;
    font-size: large;
    margin: 0 10px 0 20px;
}
#home:hover,#about:hover,#projects:hover,#contact:hover{
    background-color:rgb(255, 255, 255); 
    color: rgb(19, 19, 27);
    padding: 10px;
    border:solid 2px rgb(19, 19, 27);
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}
#container {
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 50%;
    margin: 20px;
    font-size: larger;
}
h1{
    font-size: 60px;
}
#pic{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 90vh;
    margin: 20px;
}
#picture{
    background-image: url('Pic.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 90vh;
    padding: 10px;
    background-position: center;
}
#social_bar{
    height:8vh;
    background-color:rgb(0, 155, 212); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    
}
#email,#github,#X,#insta
{
    background-color:rgb(19, 19, 27); 
    color: white;
    font-size: 35px;
    padding: 8px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 2px solid white;
}
#email:hover,#github:hover,#X:hover,#insta:hover
{
    background-color: white;
    color: rgb(19, 19, 27);;
    font-size: 35px;
    padding: 8px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 2px solid rgb(19, 19, 27);
    cursor:pointer;
}

#box_cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid transparent;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
#AI,#web_dev,#ui_ux{
    background-color: rgb(19, 19, 27);
    padding: 15px;
    width: 35vh;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    display: table-column;
    justify-content: center;
    text-align: center;
    min-height: 60vh;
    box-shadow: 0px 0px 15px rgb(255, 255, 255,0.5)
}
#about_block{
    display: flex;
    justify-content: center;
}
#about_div{
    width: 90%;
    height:auto;
    display: table-column;
    justify-content: center;
    border:10px solid white;
    border-radius: 50px;
}
#about_det{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#about_pic{ 
    background-image: url('about.png');
    width: 50%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#about_info{
    width: 50%;
    display: table-column;
    justify-content:center;
    align-items: start;
    padding: 100px;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 60vh;
    overflow-y: scroll; overflow-x: hidden;
    scrollbar-width: 5px;
}
#about_line{
    height: 10vh;
    background-color:rgb(0, 155, 212) ;
    color: white;
    margin: 5px;
    padding: 0;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edu_info{
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
}
#edu_10,#edu_12,#edu_btech{
    background-color: rgb(19, 19, 27);
    padding: 15px;
    width: 35vh;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    display: table-column-group;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 15px rgb(255, 255, 255,0.5)
}
#projects_div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
#pro_div{
    width: 100%;
    text-align: center;
}
#project_otto,#project_jarvis,#project_pagepallet,#project_fittech{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: end;
}
#project_jarvis,#project_fittech{
    justify-content: start;

}
#pro_ottodiv,#pro_jarvisdiv,#pro_pagepalletdiv,#pro_fittechdiv{
    width: 80%;
    height: auto;
    margin: 15px;
    border: 5px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#pro_ottoimg,#pro_jarvisimg,#pro_pagepalletimg,#pro_fittechimg{
    background-color: aqua;
    height: 90%;
    width: 30%;
    color: rgb(0, 45, 30);
}
#pro_ottoinfo,#pro_jarvisinfo,#pro_pagepalletinfo,#pro_fittechinfo{
    width: 65%;
    height: 90%;
    background-color: rgb(210, 98, 98);
    color: rgb(12, 33, 26);
}