*{
    font-family: 'Ubuntu Mono', 'Source Code Pro', monospace;
    cursor: none;
}
body,html {
    background-color: rgb(19, 19, 27);
    color: white;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    cursor: none;
}
a{
    text-decoration: none;
}
#nav{
    background-color: rgb(0, 155, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
}
#nav_buttons{
    margin-right: 50px;
}
#home,#about,#projects,#contact,#name_box{
    background-color:rgb(19, 19, 27); 
    color: white;
    padding: 10px;
    border:solid 2px white;
    border-radius: 15px;
    font-size: large;
    margin: 0 10px 0 20px;
}
#home:hover,#about:hover,#projects:hover,#contact:hover{
    background-color:rgb(255, 255, 255); 
    color: rgb(19, 19, 27);
    padding: 10px;
    border:solid 2px rgb(19, 19, 27);
    border-radius: 15px;
    font-weight: bold;
    cursor: none;
}
#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 50%;
    margin: 20px;
    font-size: larger;
}
h1{
    font-size: 65px;
}
#res{
    background-color:rgb(19, 19, 27);
    color: white;
    border: 2px solid rgb(0, 155, 212);
    padding: 10px;
    width: 20vh;
    border-radius:15px 0 0 15px ;
}
#res:hover{
    border: 2px solid white;
    cursor: none;
}
#con{
    background-color:rgb(19, 19, 27);
    color: white;
    border: 2px solid white;
    padding: 10px;
    width: 20vh;
    border-radius:0 15px 15px 0;
}
#con:hover{
    border: 2px solid rgb(0, 155, 212);
    cursor: none;
}
#pic{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 90vh;
    margin: 20px;
}
#picture{
    background-image: url('Pic.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 85vh;
    padding: 10px;
    background-position: center;
}
#social_bar{
    background-color:rgb(0, 155, 212); 
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    
}
#linkedin,#github,#X,#insta
{
    background-color:rgb(19, 19, 27); 
    color: white;
    font-size: 35px;
    padding: 8px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 2px solid white;
}
#linkedin:hover,#github:hover,#X:hover,#insta:hover
{
    background-color: white;
    color: rgb(19, 19, 27);;
    font-size: 35px;
    padding: 8px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 2px solid rgb(19, 19, 27);
    cursor: none;
}

#box_cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid transparent;
    margin-top: 50px;
    margin-bottom: 50px;

}
#AI,#web_dev,#ui_ux{
    background-color: rgb(19, 19, 27);
    padding: 15px;
    width: 35vh;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    display: table-column;
    justify-content: center;
    text-align: center;
    min-height: 60vh;
    box-shadow: 0px 0px 15px rgb(255, 255, 255,0.5);
}
#about_block{
    display: flex;
    justify-content: center;
}
#about_div{
    width: 90%;
    height:auto;
    display: table-column;
    justify-content: center;
    border:10px solid white;
    border-radius: 50px;
    margin-top: 13vh;
}
#about_det{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#about_pic{ 
    background-image: url('about.png');
    width: 50%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.about_pic {
    opacity: 0; /* Initially hidden */
    transform: translateX(-100%); /* Move off-screen to the left */
    transition: opacity 2s ease, transform 2s ease; /* Transition effects */
}

.about_pic.visible {
    opacity: 1; /* Make visible */
    transform: translateX(0); /* Move to the original position */
}
#about_info{
    width: 50%;
    display: table-column;
    justify-content:center;
    align-items: start;
    padding: 100px;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 60vh;
    overflow-y: scroll; overflow-x: hidden;
    scrollbar-width: 5px;
}
.about_info {
    opacity: 0; /* Initially hidden */
    transform: translateX(-100%); /* Move off-screen to the right */
    transition: opacity 2s ease, transform 2s ease; /* Transition effects */
}

.about_info.visible {
    opacity: 1; /* Make visible */
    transform: translateX(0); /* Move to the original position */
}

#about_line{
    height: 10vh;
    background-color:rgb(0, 155, 212) ;
    color: white;
    margin: 5px;
    padding: 0;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edu_info{
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
}
#edu_10,#edu_12,#edu_btech{
    background-color: rgb(19, 19, 27);
    padding: 15px;
    width: 35vh;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    display: table-column-group;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 15px rgb(255, 255, 255,0.5)
}
#projects_div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
#pro_div{
    width: 100%;
    text-align: center;
    margin-top: 8vh;
}
#project_otto,#project_jarvis,#project_pagepallet,#project_fittech{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: end;
}
#project_jarvis,#project_fittech{
    justify-content: start;

}
.project_otto,.project_jarvis,.project_pagepallet,.project_fittech{
    opacity: 0; /* Initially hidden */
    transform: translateY(100%); /* Move off-screen to the left */
    transition: opacity 2s ease, transform 2s ease; /* Transition effects */
}

.project_otto.visible ,.project_jarvis.visible,.project_pagepallet.visible,.project_fittech.visible{
    opacity: 1; /* Make visible */
    transform: translateX(0); /* Move to the original position */
}
#pro_ottodiv,#pro_jarvisdiv,#pro_pagepalletdiv,#pro_fittechdiv{
    width: 80%;
    height: auto;
    margin: 15px;
    border: 5px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#pro_ottoimg,#pro_jarvisimg,#pro_pagepalletimg,#pro_fittechimg{
    height: 90%;
    width: 30%;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 155, 212);
    border-radius: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: height 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#pro_ottoimg:hover,#pro_jarvisimg:hover,#pro_pagepalletimg:hover,#pro_fittechimg:hover{
    background-color: rgb(255, 255, 255);
    height: 120%;
}
#pro_jarvisimg:hover{
    background-color: black;
}
.btn{
    display: none;
    position: absolute;
    background-color: #000000;
    color: white;
    border: none;
    font-size: 14px;
    cursor: none;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 30px;
}
.ottobtn{
    display: none;
    position: absolute;
    background-color: #000000;
    color: white;
    border: none;
    font-size: 14px;
    cursor: none;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 30px;
}
#pro_ottoimg:hover .ottobtn,#pro_pagepalletimg:hover .btn,#pro_jarvisimg:hover .btn,#pro_fittechimg:hover .btn{
    display: inline-block;
}
.ottobtn:first-child{
    bottom: 20px;
}
.btn:first-child   {
    bottom: 20px;
    left: 100px;
}
.btn:last-child{
    bottom: 20px;
    right: 100px;
}
.ottobtn:hover{
    background-color: white;
    color: black;
    border-color:black;
}
.btn:hover{
    background-color: white;
    color: black;
    border-color:black;
}

#pro_ottoimg{
    background-image: url('otto.webp');
}
#pro_jarvisimg{
    background-image: url('Jarvisimg.jpg');
}
#pro_pagepalletimg{
    background-image: url('pagepallete.jpg');
    background-size: cover;
}
#pro_fittechimg{
    background-image: url('fit-tech.jpg');
    background-size: cover;
}
#pro_ottoinfo,#pro_jarvisinfo,#pro_pagepalletinfo,#pro_fittechinfo{
    width: 65%;
    height: 90%;
    background-color: transparent;
    color: rgb(0, 155, 212);
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
}
.con_body{
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact-container {
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    width: 40%;
}
.form-container {
    width: 50%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.form-group {
    width: 48%;
    margin-bottom: 20px;
}

.form-group.half-right {
    margin-left: 4%;
}
label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
}
input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(0, 155, 212) ;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    cursor: none;
}
input[type="submit"] {
    width: 100px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(0, 155, 212) ;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: none;
}
input[type="submit"]:hover {
    background-color: white;
    color: rgb(19, 19, 27);
    cursor: none;
}
textarea {
    height: 100px;
    resize: none;
    cursor: none;
}

.required {
    color: red;
}

.custom-cursor {
    position: sticky;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    z-index: 9999;
}

.site-wide {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white; 
    transition: box-shadow 0.2s ease, transform 0.05s ease;
}

.site-wide .pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white; 
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, background-color 0.2s ease;
}

.site-wide.active .pointer {
    width: 20px;
    height: 20px;
}

.site-wide.glow {
    box-shadow: 0 0 15px rgba(0, 150, 255, 1);
    transform: scale(1.1);
}

.nav_buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.nav_buttons a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 10px;
}

.white-bg {
    background-color: white;
}

.black-bg {
    background-color: black;
}
